.list{
    margin: 24px 0;
}
.list label{
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}
.list select{
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
}

@media only screen and (max-width: 768px) {
    .list{
        margin: 12px 0;
    }
    .list label{
        font-size: 20px;
        margin-bottom: 4px;
    }
    .list select{
        font-size: 16px;
        padding: 12px;
    }
  }