.card{
    width: 280px;
    margin: 0 8px;
}
.imageDiv{
    border-radius:10px 10px 0px 0px;
}
.imageDiv img{
    aspect-ratio: 1/1;
    border-radius: 50%;
    width:100px;
    position: relative;
    bottom: -50px;
}
.descDiv{
    background-color: #FFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    padding-top:90px;
    border-radius: 0px 0px 10px 10px;
    padding-bottom: 40px;
}
.descDiv h4{
    color: #6278F7;
    font-size: 24px;
    line-height: 22px;
}

.descDiv h5{
    color: #0E0e0e;
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    .card{
        width: 140px;
        margin: 0 4px;
    }
    .imageDiv{
        border-radius:5px 5px 0px 0px;
    }
    .imageDiv img{
        width:80px;
        bottom: -40px;
    }
    .descDiv{
        padding-top:40px;
        border-radius: 0px 0px 5px 5px;
        padding-bottom: 20px;
    }
    .descDiv h4{
        font-size: 16px;
        line-height: 22px;
    }
    
    .descDiv h5{
        font-size: 12px;
    }
}