.footer{
    background-color: #6278F7;
    height: 25vh;
    color: white;
    font-size: 32px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer .icones{
    display: flex;
    justify-content: space-evenly;
    width:20%;
}
.icones a img{
    width: 48px;
    height: 48px;
    filter: brightness(0) invert(1);
}

@media only screen and (max-width: 768px) {
    .footer{
        font-size: 16px;
        flex-direction: column;
    }
    .footer .icones{
        display: flex;
        justify-content: space-evenly;
        width:100%;
    }
}