.banner{
    background-color: #6278F7;
    text-align: center;
    width: 100%;
}

.banner img{
    max-width: 100%;
}
@media only screen and (max-width: 768px) {
    .banner img{
        max-width: 160%;
    }
    .banner{
        overflow-x: hidden;
    }
}